body{
  background-color:gray;
}

.tablero {
  border: solid;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  margin: 20px;
  background-color: black
}

.casilla {
  background-color:silver;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.O{
color:red;
font-weight: bold;
}
.X{
color: blue;
font-weight: bold;
}

h1{
  text-align: center;
  color: orangered;
}

.WIN{
  text-align: center;
  background: white;
  color: green;
  margin: 20px;
}